**/__pycache__/
**/.ipynb_checkpoints/
.idea/
.venv/
.vscode/
dbt_packages/
target/
src/clickhouse/processed_configs/config.xml
src/clickhouse/processed_configs/users.xml
**/.DS_Store
.env
*.log
*.pickle
*.pid
*.out
*.xlsx
.dbt/profiles.yml
.dbt/.user.yml
dbt/profiles.yml
dbt/.user.yml