tinkoff-investments==0.2.0b117
psycopg2-binary
dbt-postgres
aiohttp
nest-asyncio
grpcio
apache-airflow==2.10.5
airflow-clickhouse-plugin
airflow-providers-clickhouse
beautifulsoup4
openpyxl
xmltodict
zeep
clickhouse-driver
SQLAlchemy==1.4.54
pysimplesoap
dataclasses_json
pandas==2.1.4
pendulum
kafka-python
python-dotenv
requests
selenium
