tinkoff-investments==0.2.0b117
dbt-core
dbt-postgres

aiohttp
nest-asyncio
grpcio

apache-airflow
airflow-clickhouse-plugin
airflow-providers-clickhouse

beautifulsoup4
openpyxl
xmltodict

clickhouse-driver
SQLAlchemy
# psycopg2-binary

dataclasses_json
pandas
pendulum

kafka-python
python-dotenv
requests
selenium
